/* 模块公共样式  */
.common-page-tabs-wrapper {
  width: 100%;
  height: 100%;
}
.layout-version-one {
  position: relative;
  width: 100%;
  height: 100%;
  .el-button {
    background-color: var(--c-blue-soft);
    color: var(--c-gray);
    &.el-button--primary {
      background-color: var(--c-blue);
      border-color: var(--c-blue);
      color: var(--c-white);
    }
  }
  .layout-version-one-search {
    background-color: var(--c-white);
    height: 50px;
    .btn-active {
      background-color: var(--c-blue);
      border-color: var(--c-blue);
      color: var(--c-white);
    }
  }
  .layout-version-one-main {
    height: calc(100% - 50px);
    display: flex;
      &-left {
        width: 440px;
        box-sizing: border-box;
        &-item {
          height: 50%;
          overflow: hidden;
          padding-bottom: 10px;
          &-title {
            position: relative;
            padding-left: 26px;
            height: 34px;
            line-height: 34px;
            margin-bottom: 5px;
            span {
              font-size: 16px;
              font-weight: 700;
            }
          }
          &-title::before {
            width: 430px;
            height: 34px;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background: url('@/assets/images/item_title_1.png') no-repeat center/100% 100%;
          }
          &-content {
            position: relative;
            height: calc(100% - 34px);
            overflow: auto;
            .device-chart {
              width: 440px;
              height: 285px;
            }
          }
        }
      }
      &-right {
        padding-left: 10px;
        width: calc(100% - 440px);
        overflow: auto;
        box-sizing: border-box;
        &-item {
          // background-color: var(--c-white-title);
          margin-bottom: 10px;
          &-title {
            position: relative;
            padding-left: 30px;
            height: 42px;
            line-height: 42px;
            span {
              font-size: 16px;
              font-weight: 700;
            }
          }
          &-title::before {
            width: 190px;
            height: 42px;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background: url('@/assets/images/item_title_2.png') no-repeat center/100% 100%;
          }
          &-content {
            .device-chart {
              width: 440px;
              height: 285px;
            }
            .station-device-chart {
              height: 216px;
              width: 100%;
              display: flex;
              &-left {
                padding: 10px 20px;
                flex: 1;
              }
              &-right {
                padding: 10px 20px;
                flex: 2;
              }
            }
            .station {
              box-sizing: border-box;
              margin-bottom: 10px;
              padding: 2px;
              border-radius: 4px;
            }
            .highlight-station {
              box-shadow: inset 0 2px 2px #016af9, inset 0 -2px 2px #016af9, inset 2px 0 2px #016af9, inset -2px 0 2px #016af9;
            }
          }
          .el-collapse {
            border: none;
            .el-collapse-item {   
              .el-collapse-item__header {
                height: 42px;
              }
              .el-collapse-item__header, .el-collapse-item__wrap {
                border-radius: 4px;
                overflow: hidden;
                background-color: var(--c-white-title);
                border: none;
              }
            }
          }
        }
      }
      &-full {
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
        &-item {
          // background-color: var(--c-white-title);
          margin-bottom: 10px;
          &-title {
            position: relative;
            padding-left: 30px;
            height: 42px;
            line-height: 42px;
            span {
              font-size: 16px;
              font-weight: 700;
            }
          }
          &-title::before {
            width: 190px;
            height: 42px;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background: url('@/assets/images/item_title_2.png') no-repeat center/100% 100%;
          }
          .el-collapse {
            border: none;
            .el-collapse-item {   
              margin-bottom: 5px;
              .el-collapse-item__header {
                height: 42px;
              }
              .el-collapse-item__header, .el-collapse-item__wrap {
                border-radius: 4px;
                overflow: hidden;
                background-color: var(--c-white-title);
                border: none;
              }
            }
          }
        }
      }
  }
}
