/* 自定义颜色变量 */
:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;
  --c-white-title: #fafafa;

  --c-blue: #006cff;
  --c-blue-soft: #d5e1f7;
  --c-blue-mute: #f0f1f8;
  --c-blue-row: #e1e8f5;

  --c-gray: #333333;

  --c-black: #000000;
}

/* 覆盖 Element Plus 默认变量 */
body {
  /* 主色系 */
  --el-color-primary: #006cff;
  --el-color-primary-light-3: #4492ff;
  --el-color-primary-dark-2: #005fe4;

  /* 文字颜色 */
  --el-text-color-primary: var(--c-gray);

  /* 圆角 */
  --el-border-radius-base: 4px;
}

/* 基础样式设置 */
*,
*::before,
*::after {
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-height: 100vh;
  color: var(--c-gray);
  background: var(--c-blue-mute);
}

/* 整体滚动条轨道 */
::-webkit-scrollbar {
  width: 8px; /* 垂直滚动条宽度 */
  height: 8px; /* 水平滚动条高度 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 其他公共样式设置 */
